@model IEnumerable<Online_Portal.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order Details</h2>
<h4>Order submitted succssusfully and order number is @ViewBag.orderNumber</h4>
    
